---
import '../styles/tailwind.css';
import AboutMe from '../components/AboutMe.astro';
---

<html lang="es">
  <head>
    <title>Sobre mí | Julián Zanetti</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body class="bg-[#0d0a2d] text-white">
    <AboutMe />
  </body>
</html>
