---
import '../styles/tailwind.css';
import Navbar from '../components/NavBar.astro';
import AboutMe from '../components/AboutMe.astro';
import Footer from '../components/Footer.astro';
---

<html lang="en">
  <head>
    <title>About me | Julián Zanetti</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/icono.png" />
  </head>
  <body class="bg-[#0d0a2d] text-white flex flex-col min-h-screen">
    <Navbar />
    <main class="flex-grow">
      <AboutMe />
    </main>
    <Footer />
  </body>
</html>
