<body>
    <a href="/">Inicio</a>
    <a href="/projects/">Proyectos</a>
    <a href="/about/">Sobre mi</a>

    <h1>Proyectos</h1>

    <p>Aca voy a estar mostrando mis proyectos y tambien seguramente las certificaciones que vaya obteniendo a lo largo de este viaje!</p>
</body>