---
---
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Projects</title>
  </head>
<body>
    <a href="/">Inicio</a>
    <a href="/projects/">Proyectos</a>
    <a href="/about/">Sobre mi</a>

    <h1>Proyectos</h1>

    <p>Aca voy a estar mostrando mis proyectos y tambien seguramente las certificaciones que vaya obteniendo a lo largo de este viaje!</p>
    <p>Por ahora, solo tengo un proyecto que es este sitio web, tambien estoy trabajando en mi homelab en donde estara alojado este sitio web.</p>
</body>