---
import '../styles/tailwind.css';
import NavBar from '../components/NavBar.astro';
import ProjectsComponent from '../components/Projects.astro';
---

<html lang="es">
  <head>
    <title>Proyectos | Julián Zanetti</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body class="bg-[#0d0a2d] text-white">
    <NavBar />
    <ProjectsComponent showMoreButton={false} />
  </body>
</html>